<a href="https://colab.research.google.com/github/Sillians/2016-pydata-carolinas-pandas/blob/master/03_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [0]:
import pandas as pd
import numpy as np

In [0]:
from numpy.random import randn
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
np.random.seed(); np.random.rand(5) #If you want seemingly random numbers, do not set the seed

array([0.23645844, 0.064073  , 0.63673763, 0.6839255 , 0.37069707])

In [8]:
np.random.seed(55); np .random.rand(10) #If you have code that uses random number you want to debug, you can set the seed before each run, so that the code 
                                        # does the same thing everytime you run it.

array([0.09310829, 0.97165592, 0.48385998, 0.2425227 , 0.53112383,
       0.28554424, 0.86263038, 0.04110015, 0.10834773, 0.76716005])

In [0]:
np.random.seed()
perm = np.random.permutation(15)

In [10]:
perm

array([ 3,  9,  0,  1, 14, 12, 11, 10,  2, 13,  4,  5,  6,  7,  8])

In [0]:
np.random.seed(101)
pem = np.random.permutation(5)

In [12]:
pem

array([0, 4, 2, 1, 3])

In [0]:
np.random.seed(2)

In [14]:
df1 = pd.DataFrame(randn(15,8), index='A B C D E F G H I J K L M N O'.split(), columns='Season Brand Description Name Boot Off-White Turfah Louboutin'.split())
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [15]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [16]:
df1['Turfah']

A    0.502881
B    0.539058
C    0.256570
D   -0.269057
E    0.000010
F    0.611341
G    0.433496
H   -0.039570
I   -0.653250
J    0.695120
K    1.367235
L   -1.737960
M   -1.133133
N   -0.325050
O    2.550438
Name: Turfah, dtype: float64

In [17]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [18]:
df1[['Off-White', 'Jacket']]

KeyError: ignored

In [19]:
df1[['Season', 'Brand', 'Description']]

     Season     Brand  Description
A -0.416758 -0.056267    -2.136196
B -1.057952 -0.909008     0.551454
C -0.019130  1.175001    -0.747871
D -0.338822 -0.236184    -0.637655
E -2.434768  0.112727     0.370445
F -0.313508  0.771012    -1.868091
G -0.829135  0.087710     1.000366
H -0.634679  0.508396     0.216116
I -2.040323  0.046256    -0.677676
J -0.381516  0.066489    -1.098739
K -0.189469 -0.077219     0.824703
L -0.462005  0.350888     0.381866
M  0.380472 -0.217135     1.173531
N -0.304086  2.585295     1.835333
O -0.902246 -0.590972    -0.276179

In [20]:
np.sum(df1)

Season        -9.943928
Brand          3.616989
Description   -1.088593
Name           3.144745
Boot          -5.467832
Off-White     -4.116517
Turfah         2.798130
Louboutin      1.063230
dtype: float64

In [21]:
np.sum(df1['Brand'])

3.6169891353451904

In [22]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
df1.Louboutin

A   -1.245288
B   -0.596160
C   -0.988779
D    2.231367
E    0.542353
F    0.047971
G    1.278379
H    0.326003
I    0.842456
J   -2.033467
K    1.217886
L    1.040824
M    0.433093
N   -0.560235
O   -1.473173
Name: Louboutin, dtype: float64

In [24]:
df1.Name

A    1.640271
B    2.292208
C    0.009025
D   -1.187612
E    1.359634
F    1.731185
G   -0.381093
H   -1.858612
I   -1.439439
J    1.584487
K    1.248213
L    0.566275
M   -2.343603
N    0.440690
O   -0.516884
Name: Name, dtype: float64

DataFrame Columns are just Series

In [25]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [0]:
df['new'] = df['W'] + df['Y']

In [27]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
df1['Amber'] = df1['Louboutin'] + df1['Turfah']

In [29]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

** Removing Columns**

In [30]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [31]:
df1.drop('Name', axis=0, inplace=True)

KeyError: ignored

In [32]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

In [33]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
df.drop('new',axis=1,inplace=True)

In [35]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [36]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [37]:
df1.drop('H',axis=0)

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

** Selecting Rows**

In [38]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [39]:
df1.loc['G']

Season        -0.829135
Brand          0.087710
Description    1.000366
Name          -0.381093
Boot          -0.375669
Off-White     -0.074471
Turfah         0.433496
Louboutin      1.278379
Amber          1.711876
Name: G, dtype: float64

Or select based off of position instead of label

In [40]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [41]:
df1.iloc[5]

Season        -0.313508
Brand          0.771012
Description   -1.868091
Name           1.731185
Boot           1.467678
Off-White     -0.335677
Turfah         0.611341
Louboutin      0.047971
Amber          0.659311
Name: F, dtype: float64

** Selecting subset of rows and columns **

In [42]:
df.loc['B','Y']

-0.8480769834036315

In [43]:
df1.loc['J','Boot']

-2.6594494563834883

In [44]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [45]:
df1.loc[['M','E'], ['Brand', 'Season']]

      Brand    Season
M -0.217135  0.380472
E  0.112727 -2.434768

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [46]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

In [48]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [49]:
df1>0.5

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,False,False,False,True,False,False,True,False,False
B,False,False,True,True,False,False,True,False,False
C,False,True,False,False,False,False,False,False,False
D,False,False,False,False,False,False,False,True,True
E,False,False,False,True,True,False,False,True,True
F,False,True,False,True,True,False,True,False,True
G,False,False,True,False,False,False,False,True,True
H,False,True,False,False,False,False,False,False,False
I,False,False,False,False,True,True,False,True,False
J,False,False,False,True,False,False,True,False,False
K,False,False,True,True,False,False,True,True,True
L,False,False,False,True,False,True,False,True,False
M,False,False,True,False,True,False,False,False,False
N,False,True,True,False,False,False,False,False,False
O,False,False,False,False,False,False,True,False,True

In [50]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [51]:
df1[df1>0.7]

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,NaN,NaN,NaN,1.640271,NaN,NaN,NaN,NaN,NaN
B,NaN,NaN,NaN,2.292208,NaN,NaN,NaN,NaN,NaN
C,NaN,1.175001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.231367,1.962310
E,NaN,NaN,NaN,1.359634,NaN,NaN,NaN,NaN,NaN
F,NaN,0.771012,NaN,1.731185,1.467678,NaN,NaN,NaN,NaN
G,NaN,NaN,1.000366,NaN,NaN,NaN,NaN,1.278379,1.711876
H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
I,NaN,NaN,NaN,NaN,NaN,0.735280,NaN,0.842456,NaN
J,NaN,NaN,NaN,1.584487,NaN,NaN,NaN,NaN,NaN
K,NaN,NaN,0.824703,1.248213,NaN,NaN,1.367235,1.217886,2.585121
L,NaN,NaN,NaN,NaN,NaN,1.406696,NaN,1.040824,NaN
M,NaN,NaN,1.173531,NaN,1.161521,NaN,NaN,NaN,NaN
N,NaN,2.585295,1.835333,NaN,NaN,NaN,NaN,NaN,NaN
O,NaN,NaN,NaN,NaN,NaN,NaN,2.550438,NaN,1.077265

In [52]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [58]:
df1[df1['Brand']>0.5]

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284

In [0]:
booldf = df1>0

In [66]:
df1[booldf]

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,NaN,NaN,NaN,1.640271,NaN,NaN,0.502881,NaN,NaN
B,NaN,NaN,0.551454,2.292208,0.041539,NaN,0.539058,NaN,NaN
C,NaN,1.175001,NaN,0.009025,NaN,NaN,0.256570,NaN,NaN
D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.231367,1.962310
E,NaN,0.112727,0.370445,1.359634,0.501857,NaN,0.000010,0.542353,0.542362
F,NaN,0.771012,NaN,1.731185,1.467678,NaN,0.611341,0.047971,0.659311
G,NaN,0.087710,1.000366,NaN,NaN,NaN,0.433496,1.278379,1.711876
H,NaN,0.508396,0.216116,NaN,NaN,NaN,NaN,0.326003,0.286433
I,NaN,0.046256,NaN,NaN,0.524296,0.735280,NaN,0.842456,0.189206
J,NaN,0.066489,NaN,1.584487,NaN,NaN,0.695120,NaN,NaN
K,NaN,NaN,0.824703,1.248213,NaN,NaN,1.367235,1.217886,2.585121
L,NaN,0.350888,0.381866,0.566275,0.204208,1.406696,NaN,1.040824,NaN
M,0.380472,NaN,1.173531,NaN,1.161521,0.386078,NaN,0.433093,NaN
N,NaN,2.585295,1.835333,0.440690,NaN,NaN,NaN,NaN,NaN
O,NaN,NaN,NaN,NaN,NaN,NaN,2.550438,NaN,1.077265

In [68]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [69]:
df1[df1['Amber']>0]['Boot']

D   -1.421217
E    0.501857
F    1.467678
G   -0.375669
H   -0.419316
I    0.524296
K   -0.403892
O   -0.698590
Name: Boot, dtype: float64

In [70]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [72]:
df1[df1['Name']>0.5][['Description', 'Season']]

   Description    Season
A    -2.136196 -0.416758
B     0.551454 -1.057952
E     0.370445 -2.434768
F    -1.868091 -0.313508
J    -1.098739 -0.381516
K     0.824703 -0.189469
L     0.381866 -0.462005

For two conditions you can use | and & with parenthesis:

In [74]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [79]:
df1[(df1['Amber'] < 0.5) & (df1['Off-White'] > 0.3)]

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [80]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [81]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

In [82]:
df1.reset_index()

,index,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
0,A,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
1,B,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
2,C,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
3,D,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
4,E,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
5,F,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
6,G,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
7,H,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
8,I,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
9,J,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
10,K,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
11,L,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
12,M,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
13,N,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
14,O,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

In [83]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [0]:
newind = 'CA NY WY OR CO'.split()

In [0]:
df['States'] = newind

In [87]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
int_new = 'Fashion Lifestyle Womenswear Menswear WomensAccessories MensAccessories WomensShoes MensShoes WomensRTW MensRTW HomeGoods Art Sandals Dresses Other'.split()

In [0]:
df1['Category1'] = int_new

In [110]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber,Category1
Category1,,,,,,,,,,
Fashion,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407,Fashion
Lifestyle,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101,Lifestyle
Womenswear,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209,Womenswear
Menswear,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310,Menswear
WomensAccessories,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362,WomensAccessories
MensAccessories,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311,MensAccessories
WomensShoes,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876,WomensShoes
MensShoes,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433,MensShoes
WomensRTW,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206,WomensRTW
MensRTW,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347,MensRTW
HomeGoods,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121,HomeGoods
Art,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136,Art
Sandals,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041,Sandals
Dresses,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284,Dresses
Other,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265,Other

In [111]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [0]:
df1.set_index('Category1', inplace=True)

In [117]:
df1

,Season,Brand,Description,Name,Boot,Off-White,Turfah,Louboutin,Amber
Category1,,,,,,,,,
Fashion,-0.416758,-0.056267,-2.136196,1.640271,-1.793436,-0.841747,0.502881,-1.245288,-0.742407
Lifestyle,-1.057952,-0.909008,0.551454,2.292208,0.041539,-1.117925,0.539058,-0.596160,-0.057101
Womenswear,-0.019130,1.175001,-0.747871,0.009025,-0.878108,-0.156434,0.256570,-0.988779,-0.732209
Menswear,-0.338822,-0.236184,-0.637655,-1.187612,-1.421217,-0.153495,-0.269057,2.231367,1.962310
WomensAccessories,-2.434768,0.112727,0.370445,1.359634,0.501857,-0.844214,0.000010,0.542353,0.542362
MensAccessories,-0.313508,0.771012,-1.868091,1.731185,1.467678,-0.335677,0.611341,0.047971,0.659311
WomensShoes,-0.829135,0.087710,1.000366,-0.381093,-0.375669,-0.074471,0.433496,1.278379,1.711876
MensShoes,-0.634679,0.508396,0.216116,-1.858612,-0.419316,-0.132329,-0.039570,0.326003,0.286433
WomensRTW,-2.040323,0.046256,-0.677676,-1.439439,0.524296,0.735280,-0.653250,0.842456,0.189206
MensRTW,-0.381516,0.066489,-1.098739,1.584487,-2.659449,-0.091453,0.695120,-2.033467,-1.338347
HomeGoods,-0.189469,-0.077219,0.824703,1.248213,-0.403892,-1.384519,1.367235,1.217886,2.585121
Art,-0.462005,0.350888,0.381866,0.566275,0.204208,1.406696,-1.737960,1.040824,-0.697136
Sandals,0.380472,-0.217135,1.173531,-2.343603,1.161521,0.386078,-1.133133,0.433093,-0.700041
Dresses,-0.304086,2.585295,1.835333,0.440690,-0.719254,-0.583415,-0.325050,-0.560235,-0.885284
Other,-0.902246,-0.590972,-0.276179,-0.516884,-0.698590,-0.928892,2.550438,-1.473173,1.077265

In [0]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [0]:
df.set_index('States',inplace=True)

In [0]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [0]:
#Index Upwards
outside = ['B1', 'B1', 'B1', 'B2', 'B2', 'B2']
inside = [1,2,3,1,2,3]
hierr_index = list(zip(outside,inside))
hierr_index = pd.MultiIndex.from_tuples(hierr_index)

In [7]:
hierr_index

MultiIndex(levels=[['B1', 'B2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df1 = pd.DataFrame(np.random.randn(6,3), index=hierr_index, columns=['A', 'B', 'C'])
df1

             A         B         C
B1 1 -0.493681 -0.971524  1.451502
   2  0.684995 -0.609480 -0.565496
   3  0.447635  0.084377  1.972262
B2 1 -0.448552  2.326279 -0.903559
   2 -1.763101 -1.446148  1.604761
   3 -2.011342  0.060021  0.785469

In [15]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.227986  0.051185
   2 -0.127100  1.629426
   3 -0.247218 -0.460778
G2 1  0.751598  1.791953
   2  1.318425  1.916383
   3  1.019828 -0.808941

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [17]:
df.loc['G1']

          A         B
1  0.227986  0.051185
2 -0.127100  1.629426
3 -0.247218 -0.460778

In [29]:
df1.loc['B1']

          A         B         C
1 -0.493681 -0.971524  1.451502
2  0.684995 -0.609480 -0.565496
3  0.447635  0.084377  1.972262

In [35]:
df1.loc['B1'].loc[1]

A   -0.493681
B   -0.971524
C    1.451502
Name: 1, dtype: float64

In [37]:
df1.loc['B1'].loc[2]

A    0.684995
B   -0.609480
C   -0.565496
Name: 2, dtype: float64

In [38]:
df1.loc['B2'].loc[3]

A   -2.011342
B    0.060021
C    0.785469
Name: 3, dtype: float64

In [39]:
df.loc['G1'].loc[1]

A    0.227986
B    0.051185
Name: 1, dtype: float64

In [40]:
df.index.names

FrozenList([None, None])

In [0]:
df.index.names = ['Group','Num']

In [42]:
df

                  A         B
Group Num
G1    1    0.227986  0.051185
      2   -0.127100  1.629426
      3   -0.247218 -0.460778
G2    1    0.751598  1.791953
      2    1.318425  1.916383
      3    1.019828 -0.808941

In [43]:
df.xs('G1')

            A         B
Num
1    0.227986  0.051185
2   -0.127100  1.629426
3   -0.247218 -0.460778

In [44]:
df1.xs('B1')

          A         B         C
1 -0.493681 -0.971524  1.451502
2  0.684995 -0.609480 -0.565496
3  0.447635  0.084377  1.972262

In [0]:
df.xs(['G1',1])

A    0.153661
B    0.167638
Name: (G1, 1), dtype: float64

In [0]:
df.xs(1,level='Num')

              A         B
Group
G1     0.153661  0.167638
G2    -1.549671  0.435253

# Great Job!

DataFrame.at   
Access a single value for a row/column label pair.

DataFrame.iloc        
Access group of rows and columns by integer position(s).

DataFrame.xs           
Returns a cross-section (row(s) or column(s)) from the Series/DataFrame.

Series.loc             
Access group of values using labels.

In [46]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]], 
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [48]:
#Single label. Note this returns the row as a Series
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [49]:
#List of labels. Note using [[]] returns a DataFrame
df.loc[['cobra', 'sidewinder']]

            max_speed  shield
cobra               1       2
sidewinder          7       8

In [51]:
#Single label for row and column
df.loc['viper', 'max_speed']

4

In [52]:
#Slice with labels for row and single label for column. As mentioned above, note that both the start and stop of the slice are included.
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [53]:
#Boolean list with the same length as the row axis
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [54]:
#Conditional that returns a boolean Series

df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [55]:
#Conditional that returns a boolean Series with column labels specified
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [56]:
#Callable that returns a boolean Series
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [57]:
#Set value for all items matching the list of labels
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [58]:
#Set value for an entire row
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [61]:
#Set value for an entire column
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [62]:
#Set value for rows matching callable condition
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [0]:
#Getting values on a DataFrame with an index that has integer labels

#Another example using integers for the index

In [64]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [65]:
#Slice with integer labels for rows. As mentioned above, note that both the start and stop of the slice are included.
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [0]:
#Getting values with a MultiIndex

#A number of examples using a DataFrame with a MultiIndex

In [0]:
tuples = [
('cobra', 'mark i'), ('cobra', 'mark ii'),
('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
('viper', 'mark ii'), ('viper', 'mark iii')
    ]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
      [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df